<div class="header" fxLayout="row">
  <div fxFlex="75" class="logodiv">
    <img src="assets/logo.png"><span>Aid<b>Finanz</b></span>
  </div>
  <div fxFlex="15" class="currentuserdiv">
    <img src="assets/currentuser.png"><span>Eleanor Pena</span>
  </div>
  <div fxFlex="10" class="logoutdiv">
    <a href="#">Sign Out</a>
  </div>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
<!--<div class="footer" fxLayout="row">
  <div fxFlex="30">Copyright © 2022 AidFinanz | All Rights Reserved</div>
  <div>Call us : (225) 555-0118</div>
  <div></div>
</div>-->
  