<div class="riskmain">
    <div class="title">Documentation Evidence</div>
    <div class="detail">Lorem ipsum dolor sit amet consectetur adipisc.</div>
    <div class="componentdiv">
        <div class="subtitle">Risk-O-Meter</div>
        <div fxLayout="row" class="bartitle">
            <div fxFlex="22">Red</div>
            <div fxFlex="22">Amber</div>
            <div fxFlex="22">Yellow</div>
            <div fxFlex="22">Green</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80">
                <angular-gradient-progressbar [type]="2"></angular-gradient-progressbar>
            </div>
            <div fxFlex="20">
                <mat-form-field  appearance="outline">                       
                    <input matInput>
                </mat-form-field>                  
            </div>      
        </div>
        <div class="subtitle">Eligible Loan Amount</div>
        <div fxLayout="row" class="bartitle">
            <div fxFlex="22">0 Rs.</div>
            <div fxFlex="22">25,000 Rs.</div>
            <div fxFlex="22">50,000 Rs.</div>
            <div fxFlex="22">1,00,000 Rs.<br/><span>(Applied Amount)</span></div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80">
                <angular-gradient-progressbar [type]="2"></angular-gradient-progressbar>
            </div>
            <div fxFlex="20">
                <mat-form-field  appearance="outline">                       
                    <input matInput>
                </mat-form-field>                  
            </div>      
        </div>
        <div class="subtitle">Eligible Loan Tenure (Months)</div>
        <div fxLayout="row" class="bartitle">
            <div fxFlex="22">0</div>
            <div fxFlex="22">6</div>
            <div fxFlex="22">12</div>
            <div fxFlex="22">24<br/><span>(Applied Tenure)</span></div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80">
                <angular-gradient-progressbar [type]="2"></angular-gradient-progressbar>
            </div>
            <div fxFlex="20">
                <mat-form-field  appearance="outline">                       
                    <input matInput>
                </mat-form-field>                  
            </div>      
        </div>
        <div fxLayout="row">
            <div fxFlex="10" class="subtitle margin">Interest Rate</div>
            <div fxFlex="20">
                <mat-form-field  appearance="outline">                       
                    <input matInput>
                </mat-form-field>                  
            </div>      
        </div>
        
    </div>
</div>  