<div class="riskmain">
    <div class="title">Documentation Evidence</div>
    <div class="detail">Lorem ipsum dolor sit amet consectetur adipisc.</div>
    <div class="componentdiv">
        <div class="subtitle">Risk-O-Meter</div>
        <div fxLayout="row" class="bartitle">
            <div fxFlex="22">Red</div>
            <div fxFlex="22">Amber</div>
            <div fxFlex="22">Yellow</div>
            <div fxFlex="22">Green</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80" *ngIf="riskdata.risk">
                <angular-gradient-progressbar [secondValue]="100" [type]="2"></angular-gradient-progressbar>
            </div>
            <div fxFlex="80" *ngIf="!riskdata.risk">
                <angular-gradient-progressbar [secondValue]="1" [type]="2"></angular-gradient-progressbar>
            </div>
            <div fxFlex="20">
                <mat-form-field  appearance="outline">                       
                    <input matInput [value]="riskdata.risk">
                </mat-form-field>                  
            </div>      
        </div>
        <div class="subtitle">Eligible Loan Amount</div>
        <div fxLayout="row" class="bartitle">
            <div fxFlex="22" *ngFor="let item of riskdata.incomeset">${{item}}</div>
            <div fxFlex="22">${{riskdata.income}}<br/><span>(Applied Amount)</span></div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80" *ngIf="riskdata.risk">
                <angular-gradient-progressbar [secondValue]="100" [type]="2"></angular-gradient-progressbar>
            </div>
            <div fxFlex="80" *ngIf="!riskdata.risk">
                <angular-gradient-progressbar [secondValue]="1" [type]="2"></angular-gradient-progressbar>
            </div>
            <div fxFlex="20">
                <mat-form-field  appearance="outline">                       
                    <input matInput [value]="riskdata.risk?riskdata.income:0">
                </mat-form-field>                  
            </div>      
        </div>
        <div class="subtitle">Eligible Loan Tenure (Months)</div>
        <div fxLayout="row" class="bartitle">
            <div fxFlex="22">0</div>
            <div fxFlex="22">6</div>
            <div fxFlex="22">12</div>
            <div fxFlex="22">24<br/><span>(Applied Tenure)</span></div>
        </div>
        <div fxLayout="row">
            <div fxFlex="80" *ngIf="riskdata.risk">
                <angular-gradient-progressbar [secondValue]="100" [type]="2"></angular-gradient-progressbar>
            </div>
            <div fxFlex="80" *ngIf="!riskdata.risk">
                <angular-gradient-progressbar [secondValue]="1" [type]="2"></angular-gradient-progressbar>
            </div>
            <div fxFlex="20">
                <mat-form-field  appearance="outline">                       
                    <input matInput [value]="riskdata.risk?24:0">
                </mat-form-field>                  
            </div>      
        </div>
        <div fxLayout="row">
            <div fxFlex="10" class="subtitle margin">Interest Rate</div>
            <div fxFlex="20">
                <mat-form-field  appearance="outline">                       
                    <input matInput [value]="riskdata.interest">
                </mat-form-field>                  
            </div>      
        </div>
        
    </div>
</div>  