<div class="documentmain">
    <form [formGroup]="documentFormGroup">        
        <div class="title">Documentation Evidence</div>
        <div class="detail">Lorem ipsum dolor sit amet consectetur adipisc.</div>    
        <input type="file" #fileupload id="fileupload" name="fileupload" accept="*" style="display:none;"/>
        <div fxLayout="row" class="componentdiv">
            <div fxFlex="50" class="firstcol">
                <div fxLayout="row">
                    <div  fxFlex="40" class="titletext">ID Type</div>
                    <div fxFlex="30" class="fieldbox">                  
                        <mat-select appearance="outline">
                            <mat-option value="Aadhar">Aadhar</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div fxLayout="row" class="margin">
                    <div  fxFlex="40" class="titletext">House<span class="red"> *</span></div>
                    <div fxFlex="53" class="fieldbox">                  
                        <mat-select appearance="outline" formControlName="house" required>
                            <mat-option value="Rent">Rent</mat-option>
                            <mat-option value="Own">Own</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div fxLayout="row" class="margin">
                    <div  fxFlex="40" class="titletext">Car<span class="red"> *</span></div>
                    <div fxFlex="30" class="fieldbox">                  
                        <mat-select appearance="outline" formControlName="car" required>
                            <mat-option value="No">No</mat-option>
                            <mat-option value="Yes">Yes</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div fxLayout="row" class="margin">
                    <div  fxFlex="40" class="titletext">Marital Status<span class="red"> *</span></div>
                    <div fxFlex="53" class="fieldbox">                  
                        <mat-select appearance="outline" formControlName="maritalstatus" required>
                            <mat-option value="Married">Married</mat-option>
                            <mat-option value="Single">Single</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div fxLayout="row" class="margin">
                    <div  fxFlex="40" class="titletext">Children</div>
                    <div fxFlex="30" class="fieldbox">                  
                        <mat-select appearance="outline">
                            <mat-option value="Yes">Yes</mat-option>
                            <mat-option value="No">No</mat-option>
                        </mat-select>
                    </div>
                </div>          
            
            </div>
            <div fxFlex="50" class="secondcol">
                <div fxLayout="row" >
                    <div  fxFlex="40" class="titletext">ID Number</div>
                    <div fxFlex="55" class="fieldbox">     
                        <mat-form-field  appearance="outline">                       
                            <input matInput>
                        </mat-form-field>                             
                    </div>
                </div>
                <div fxLayout="row">
                    <div  fxFlex="40" class="titletext">Supporting Doc.</div>
                    <div fxFlex="53" class="fieldbox" fxLayout="row">                  
                        <mat-select appearance="outline">
                            <mat-option value="Rental Agreement">Rental Agreement</mat-option>
                        </mat-select>
                        <mat-icon (click)="onFileUpload()">cloud_upload</mat-icon>
                    </div>
                </div>
            
                <div fxLayout="row" class="margin">
                    <div  fxFlex="40" class="titletext">Profession</div>
                    <div fxFlex="53" class="fieldbox">                  
                        <mat-select appearance="outline" formControlName="profession" >
                            <mat-option value="item" *ngFor="let item of profession">{{item}}}}</mat-option>
                        </mat-select>
                    </div>
                </div>
        
                <div fxLayout="row" class="margin">
                    <div  fxFlex="40" class="titletext">Spouse Employed?</div>
                    <div fxFlex="55" fxLayout="row" class="fieldbox">                  
                        <mat-select fxFlex="30" appearance="outline">
                            <mat-option value="Yes">Yes</mat-option>
                            <mat-option value="No">No</mat-option>
                        </mat-select>
                        <div class="subtext">Employment Letter</div>
                        <mat-icon (click)="onFileUpload()">cloud_upload</mat-icon>
                    </div>
                </div>
        
                <div fxLayout="row" class="margin">
                    <div  fxFlex="40" class="titletext">If Children Schooling?</div>
                    <div fxFlex="55" fxLayout="row" class="fieldbox">                  
                        <div fxFlex="73" class="subtext">Upload letter from school or Last Fees paid receipt</div>
                        <mat-icon (click)="onFileUpload()">cloud_upload</mat-icon>
                    </div>
                </div>       
            
            </div>
        </div>
        <div fxLayout="row" class="margin commentcol">
            <div  fxFlex="19" class="titletext">Comments/ Details</div>
            <div fxFlex="78" class="fieldbox">                  
                <mat-form-field  appearance="outline">                       
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            
        </div>
    </form>
</div>    
