.applicantmain{
    text-align: left;
    .title{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin-top: 20px;
    }
    .detail{
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: #6F6C90;
        margin-left: 50px;
    }
    .componentdiv{
        .firstcol{
            margin: 20px 30px;
        }
        .firstcol, .secondcol{
         
            .titletext{
                font-weight: 400;
                font-size: 14px;
                margin-top: 10px;
                color: #514F6E;
            }
            .nopadding{
                margin-top: 0px !important;
            }
            .fieldbox{
               
                input{
                    width: 100%;
                }
                mat-select{
                    border: 2px solid #EFF0F7;
                    border-radius: 20px;
                    padding: 3px;                    
                }
                input{
                    border-radius: 20px;
                    width: 100%;
                    min-width: 300px;
                }
             
                textarea{
                    height: 90px;
                }
                mat-form-field{
                    width: 100%;
                }
            }
        }
        .secondcol{
            margin-top: 12px;
        }
    }

    .margin{
        margin-top: 20px;
    }

    .red{
        color: red;
    }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 3px !important;    
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline-thick {
    border: 1px solid red;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ffffff !important;
    border: 1px solid #EFF0F7;
    border-radius: 28px;
    // opacity: 1!important;
}

::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
  }
  
  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
  }
::ng-deep{
    .mat-form-field-outline {
    border-width: 2px !important;
    }
}

  .selectpanelclass{
    width: 200px;
}